pydantic[email]
fastapi
uvicorn[standard]
sqlmodel
asyncpg
alembic
pydantic
pydantic-settings
python-jose[cryptography]
python-multipart
python-dotenv
structlog
pytest
pytest-asyncio
httpx
black
mypy
ruff
passlib[bcrypt]==1.7.4
bcrypt==4.0.1
